main.ant-layout-content {
    background: rgb(255, 255, 255);
}

a {
    color: #0035f7;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

.ant-btn.ant-btn-default {
    border-color: #0035f7;
    color: #0035f7;
}

.ant-btn.circle {
    border-radius: 100px;
}
.ant-input.circle{
    border-radius: 100px;
}

.ant-input {
    font-size: 16px;
}


.uk-text-primary {
    color: #167dff !important;
}

.uk-text-muted {
    color: #999999;
}

.uk-text-small {
    font-size: 13px;
}

.uk-text-bold {
    font-weight: bold;
}

.uk-container {
    max-width: 1349px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
.ant-btn{
    font-size:14px;
}
:where(.css-dev-only-do-not-override-eq3tly).ant-btn.ant-btn-round{
    padding-inline-start: 32px !important;
    padding-inline-end: 32px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    height:auto;
}